*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: "Noto Sans TC", sans-serif;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--neutral-900);
}
